body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

section {
    display: flex;
}

.half-width {
    width: 50%;
    padding: 40px;
}

.half-width img {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

h1 {
    font-size: 50px;
}

.orange-color {
    color: orange;
}

.link-button {
    padding: 10px 50px;
    text-decoration: none;
    color: white;
    background-image: linear-gradient(orange, tomato);
    border-radius: 10px;
    font-weight: bold;
}